<!-- <footer>
    <div>
        <p>&copy; Nails Angels 2024. Todos los derechos reservados</p>
    </div>
</footer> -->
<link rel="stylesheet" href="/css/responsive.css">
<link rel="stylesheet" href="/css/footer.css">

<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <h3>Síguenos</h3>
            <div class="social-icons">
                <a href="#" class="icon-links"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="icon-links"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="icon-links"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" class="icon-links"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            <h4>
            <a href="/productos">Registra tu producto</a>
            </h4>
        </div>
        <div class="footer-section">
            <h3>Contacto</h3>
            <p class="contacto"><i class="fa-solid fa-envelope"></i>contacto@ejemplo.com</p>
            <p class="contacto"><i class="fa-solid fa-phone"></i>+57 310 002 90 00</p>
        </div>
        <div class="footer-section">
            <h3>Newsletter</h3>
            <form id="newsletter-form">
            <input type="email" name="email" placeholder="Ingresa tu correo electrónico" required>
            <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
            </form>
            <h4>
                <a href="#">Trabaja con nosotros</a>
            </h4>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2024 AS NAILS. Todos los derechos reservados.</p>
    </div>        
</footer>

<script src="/Public/js/footer.js"></script>

<h1></h1>