<!-- <header>

    <div>
        <h1><a href="/">Tienda de uñas</a></h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/productos">Productos</a></li>
            </ul>
        </nav>
    </div>
    
</header> -->
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/responsive.css">
<script src="/js/menu-icon.js"></script>
<header>   
    <nav class="navegacion">
        <div class="container-principal">
            <a href="/" class="imagen">
                <img src="/images/AS-Nails.jpg" class="ajustar-imagen" alt="Logo AS Nails">
            </a> 
            
            <a href="/" class="logo">AS NAILS</a>

            <div class="menu-icon">
                <i class="fa-solid fa-bars"></i>
            </div>

            <ul class="nav-link">
                <li><a href="/productos">Productos</a></li>
                <li><a href="#">Diseños</a></li>
                <li><a href="#">Tips de Cuidado</a></li>
            </ul>
        </div> 
    </nav>
</header>