<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%- include('partials/header') %>

    <div>
        <h1>Bienvenidos a nails Angel</h1>
        <p>Descubre los mejores productos para el cuidado de tus uñas</p>
        <a href="/productos">Ver productos</a>
    </div>

    <%- include('partials/footer') %>
</body>
</html>